body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 100px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
nav ul li:hover {
  border: 1px solid rgb(64, 74, 61);
}
nav ul li a:active :focus {
  color: blueviolet;
}
.background-img {
  height: 400px;
  width: 100%;
  background-image: url("../Images/contact-us-img.jpg");
  background-size: cover;
  background-position: center center;
  background-color: aqua;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: cursive;
  color: #ffffff;
  font-weight: bolder;
}
.waste-home-img,
.waste-home-img > img {
  /* background-image: url("../Images\home-02.jpg");
  background-color: #f0f0f0; */
  background-size: cover;
  width: 100%;
  height: 70vh;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: inline-block;
  width: 400px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  color: #ffffff;
  font-size: 60px;
  position: absolute;
  top: 50px;
  left: 450px;
}

.pick-up {
  display: flex;
  width: 240px;
  height: 65px;
  background-color: rgb(236, 221, 94);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 600px;
}

.pick-up:hover {
  background-color: rgb(85, 142, 76);
  color: white;
}

.panel {
  display: flex;
  justify-content: space-evenly;
  height: 250px;
  width: 70%;
  position: relative;
  left: 15%;
  top: -10vh;
  background-color: rgb(64, 74, 61);
}
.inner-div {
  display: flex;
  justify-content: space-evenly;
}
.load-size {
  display: inline-block;
}
.load-size-img img {
  height: 120px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  left: 20px;
  top: -50px;
  background-color: rgb(241, 202, 75);
}
.panel-para {
  display: flex;
  position: relative;
  left: 15px;
  top: -30px;
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  color: #ffffff;
  font-size: 30px;
}

.vertical-line {
  display: flex;
  position: relative;
  top: 20%;
  height: 60%;
  width: 2px;
  background-color: #333;
}
